# golangci-lint run
name: golangci-lint
on:
  pull_request:
  push:
    branches:
      - "**"

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.22.5"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
